.header-title {
  font-family: Nunito Sans;
  font-size: 28px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: -0.02em;
  text-align: left;
  transform: translateX(100px);
}

.box {
  width: 300px;
  display: flex;
  justify-content: space-between;
}

.react-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.react-modal-content {
  position: relative;
  padding: 20px;
  border-radius: 8px;
  outline: none;
}

.modal-title {
  text-align: center;
}

.modal-btn {
  width: 40px;
  height: 40px;
  padding: 13px;
  border-radius: 8px;
  border: none;
  color: #fff;
  cursor: pointer;
  background-color: rgba(37, 182, 121, 1);
  /* Adjust or remove the following line */
  /* transform: translateX(900px); */
  margin-top: 20px;
}


.modal-form {
  width: 300px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
}

.label {
  margin-bottom: 8px;
}

.phoneNumber {
  padding: 8px;
  margin-bottom: 16px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.input-name {
  padding: 8px;
  margin-bottom: 16px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}
.role {
  padding: 8px;
  margin-bottom: 16px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.save-btn {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  background-color: rgba(37, 182, 121, 1);
}

.close-btn {
  width: 24px;
  height: 24px;
  border: 3px;
  font-size: 20px;
  transform: translateX(1300px);
  margin-top: -50px;
  color: rgba(107, 107, 107, 1);
  background-color: #fff;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

thead {
  background-color: #f2f2f2;
}

th,
td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  color: black;
}

tbody tr:hover {
  background-color: #f5f5f5;
}
