* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.contianer {
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 20px;
  margin-left: 0 auto;
  margin-right: 0 auto;
}