  .logo {
    margin-bottom: 11px;
    transform: translateY(60px);
  }

  .buttons {
    display: flex;
    margin: 0 auto;
    transform: translateX(100px);
  }
  
  .btn {
    display: flex; /* Use flex to align items vertically */
    align-items: center; /* Center items vertically */
    width: 183px;
    height: 50px;
    padding: 11px 24px; /* Fix the syntax error here */
    border-radius: 8px;
    border: 1px solid rgba(107, 107, 107, 1); /* Add solid to specify border style */
    text-decoration: none;
    text-align: center;
    color: #000;
    margin-left: 11px;
  }
  
  .active {
    width: 183px;
    height: 50px;
    padding: 11px 24px; /* Fix the syntax error here */
    border-radius: 8px;
    background-color: rgba(37, 182, 121, 1);
    color: #fff;
  }
